body{background:#f0f0ef;font-size:15px;margin:0 auto;text-align:center;width:100%}
header{background:#f445ce;border-bottom:2px solid #ee0fdc;box-shadow:1px 1px 60px #000;display:block;height:80px;position:fixed;top:0;width:100%;}
header .logo{display:inline-block;float:left;}
header .logo a img{margin:10px 0 0 0;width:120px}
#contacto{background:#312a1e}
#galeria img{height:250px;opacity:1}
#inicio,#media,#envivo,#servicios,#contacto{bottom:0;left:0;right:0;top:0}
#porcion{background:#a20323;color:#fff;display:block;margin:1 auto;padding:3em 2em;}
#porcion p{font-size:1.5em}
#top{background:url("../img/bgtop.jpg") #0b333f no-repeat center center;display:block;margin:50px 0 0 0;padding:15em 0;}
#top h1{color:#fff;margin:1em}
.contenedor-video{padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden}
.contenedor-video iframe,.contenedor-video object,.contenedor-video embed{top:0;left:0;width:100%;height:100%}
.iconos_media{display:inline-block;img}
.nav{display:inline-block;float:right;padding-top:15px}
.nav li{display:inline-block;vertical-align:top}
.nav-list{display:inline-block;list-style:none;vertical-align:top}
.nav-item a{color:#eaeaea;display:inline-block;font-family:'Roboto';margin:0 .5em;text-decoration:none;vertical-align:top}
