.nav-mobile
  display none
  cursor pointer
  position absolute
  top 0
  right 0
  background #3D3D3B url(../img/nav.svg) no-repeat center center
  background-size 18px
  height 50px
  width 50px

.nav-click
  position absolute
  top 0
  right 0
  display none
  border-left 1px solid #8B2870
  height 49px
  width 50px
  cursor pointer

.nav-click i
  display block
  height 48px
  width 48px
  background url(../img/drop.svg) no-repeat center center
  background-size 20px

.nav-click:hover
  background-color #6E1656

.nav-rotate
  -webkit-transform rotate(180deg)
  -moz-transform rotate(180deg)
  -ms-transform rotate(180deg)
  -o-transform rotate(180deg)
  transform rotate(180deg)

@media only screen and (max-width: 768px)
  .logo
    float: left
    display: inline-block
    height: 100px
    width: 100px

  .logo img
    display: inline-block
    height: 100px
    width: 100px
  
  .nav-mobile
    display: block

  .nav
    display: block
    padding: 50px 0 0
    width: 100%

  .nav-list
    display: none

  .nav-item
    float: none
    width: 100%

  .nav-item a
    border-bottom: 1px solid #151515
    margin: 0 0 0 10em

  .nav-item > a
    padding: 15px

  .nav-click
    display: block

  .nav-mobile-open
    border-radius: 5px 5px 0 0
    -webkit-border-radius: 5px 5px 0 0
    -moz-border-radius: 5px 5px 0 0

  .nav-item:hover .nav-submenu
    display: none

  .nav-submenu
    position: static
    width: 100%
